/*Gerais*/

*{
    text-decoration: none; 
    list-style-type: none;
}

/*Mobile*/
@media screen and (max-width: 1024px) {
    .cotainer-profile {
       display: flex;
       position: relative; 
    }
}

@media screen and (max-width: 1024px) {
    #profile {
        display: flex;
        border-radius: 50px;
        position: relative;
        margin: 20px auto 0;
        width: 104px;
        height: 104px;
        box-shadow: 0px 0px 20px 15px #ebe9e9;
    }
}

@media screen and (max-width: 1024px) {
    .container-emoji {
        display: flex;
        position: absolute;
        background: #fff;
        border-radius: 50px;
        height: 27px;
        width: 27px;
        bottom: 0;
        right: 37%;
    }
}

@media screen and (max-width: 1024px) {
    #emoji {
        display: flex;
        position: absolute;
        bottom: 8px;
        right: 30%;
    }
}

.name-and-info {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .name {
        font-size:20px;
        font-weight: 700px;
        color: #262626;
    }
}

@media screen and (max-width: 1024px) {
    .info{
        max-width: 217px;
        margin-top: -5px;
        text-align: center;
        font-size: 14px;
        color: #989898;
        
    }
}

@media screen and (max-width: 1024px) {
    .more-info {
        font-size: 12px;
        color: #0587FF;
        font-size: 14px;
    }
}

@media screen and (max-width: 1024px) {
    .arrow-down {
        display: flex;
        margin: 0 auto;
        width: 24px;
        height: 24px;
    }
}

@media screen and (max-width: 1024px) {
    .btn-arrow {
        display: flex;
        margin: 0 auto;
        background: #fff;
        border: none;
    }
}

@media screen and (max-width: 1024px) {
    .menu {
        display: none;
        background: #f8f8f8;
        width: 380px;
        height: 143px;
        border-radius: 20px;
      }
  }

  @media screen and (max-width: 1024px) {
    .menu-info{
        display: flex;
    }
  }

  @media screen and (max-width: 1024px) {
    .menu-list  li {
        display: flex;
        margin-left: -22px;
        align-items: center;
        margin-bottom: 12px;
        color: #0587FF;
    }
  }

  @media screen and (max-width: 1024px) {
    .menu-list  li span {
        color: #0587FF;
        margin-left: 10px;
    }
  }

  .menu-list li a{
      display: flex;
      align-items: center;
      justify-content: center;
  }

  @media screen and (max-width: 1024px) {
      #site {
         padding-left: 3px;
      }
  }

@media screen and (max-width: 1024px) {
  #img-chain{
    margin-left: 3px;
  }
}


